xcuserstate/
xcuserdata/
Pods
Podfile.lock
Build
*.xcbkptlist
.idea/
.DS_Store
DerivedData/
Payload/
*.ipa
*/xcuserdata/*




# OSX
#
.DS_Store

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.xcode.env.local
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
.vscode/
# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml
*.hprof

# node.js
#
*/node_modules/
npm-debug.log
yarn-error.log

# BUCK
buck-out/
\.buckd/
*.keystore
!debug.keystore

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

*/fastlane/report.xml
*/fastlane/Preview.html
*/fastlane/screenshots

# Bundle artifact
*.jsbundle

# Ruby / CocoaPods
*/Pods/*
*/Podfile.lock
*/vendor/bundle/*
/package-lock.json
/yarn.lock

Build
*.xcbkptlist

ReactNative/android/app/.cxx/*
ReactNative/node_modules
