<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Configuration</key>
	<dict>
		<key>ID</key>
		<dict>
			<key>popupScreen</key>
			<dict>
				<key>closeButton</key>
				<dict>
					<key>isPositionTopLeft</key>
					<true/>
					<key>enableCloseButton</key>
					<true/>
				</dict>
				<key>popupBackgroundColorHexCode</key>
				<string>252525</string>
				<key>backgroundColorHexCode</key>
				<string>FFFFFF</string>
				<key>buttonCTA</key>
				<dict>
					<key>cornerRadius</key>
					<integer>30</integer>
					<key>fontName</key>
					<string>Poppins-Bold</string>
					<key>buttonBackgroundColor</key>
					<string>346DE9	</string>
					<key>fontColorHexCode</key>
					<string>FFFFFF</string>
					<key>fontSize</key>
					<integer>15</integer>
				</dict>
				<key>description</key>
				<dict>
					<key>fontName</key>
					<string>Poppins-Regular</string>
					<key>fontSize</key>
					<integer>15</integer>
					<key>fontColorHexCode</key>
					<string>767676</string>
				</dict>
				<key>title</key>
				<dict>
					<key>fontName</key>
					<string>Poppins-Bold</string>
					<key>fontColorHexCode</key>
					<string>2a2a2a</string>
					<key>fontSize</key>
					<integer>17</integer>
				</dict>
				<key>popupWidth</key>
				<integer>300</integer>
			</dict>
			<key>progressScreen</key>
			<dict>
				<key>failureImage</key>
				<string>contours_oops_icon</string>
				<key>progressBarColor</key>
				<string>346DE9</string>
				<key>progressScreenBackgroundColor</key>
				<string>252525</string>
				<key>tryAgainButton</key>
				<dict>
					<key>cornerRadius</key>
					<integer>30</integer>
					<key>buttonBackgroundColor</key>
					<string>346DE9</string>
					<key>fontName</key>
					<string>Poppins-Bold</string>
					<key>fontSize</key>
					<integer>15</integer>
					<key>fontColorHexCode</key>
					<string>FFFFFF</string>
					<key>buttonSize</key>
					<dict>
						<key>height</key>
						<integer>46</integer>
						<key>width</key>
						<integer>180</integer>
					</dict>
				</dict>
				<key>progressHeading</key>
				<dict>
					<key>fontSize</key>
					<integer>36</integer>
					<key>fontName</key>
					<string>Poppins-Bold</string>
					<key>fontColorHexCode</key>
					<string>FFFFFF</string>
				</dict>
				<key>progressDescription</key>
				<dict>
					<key>fontName</key>
					<string>Poppins-Regular</string>
					<key>fontSize</key>
					<integer>17</integer>
					<key>fontColorHexCode</key>
					<string>FFFFFF</string>
				</dict>
			</dict>
			<key>imageCapturingScreen</key>
			<dict>
				<key>backgroundColor</key>
				<dict>
					<key>opacity</key>
					<integer>1</integer>
					<key>colorHexCode</key>
					<string>252525</string>
				</dict>
				<key>autoManualOverlay</key>
				<dict>
					<key>overlayBackgroundColor</key>
					<dict>
						<key>opacity</key>
						<real>0.8</real>
						<key>colorHexCode</key>
						<string>2a2a2a</string>
					</dict>
					<key>enableOverlay</key>
					<true/>
					<key>toggleOnThumbColorHexCode</key>
					<string>346DE9</string>
					<key>toggleOnTrackColorHexCode</key>
					<string>ffffff</string>
					<key>toggleOffTrackColorHexCode</key>
					<string>e5e5e5</string>
					<key>toggleOffThumbColorHexCode</key>
					<string>ffffff</string>
					<key>textFontColorHexCode</key>
					<string>ffffff</string>
					<key>textFontSize</key>
					<integer>12</integer>
					<key>textFontName</key>
					<string>Poppins-Bold</string>
				</dict>
				<key>manualCapturingPopupTimeInterval</key>
				<integer>20</integer>
				<key>previewTitle</key>
				<dict>
					<key>showTitle</key>
					<true/>
					<key>titleViewBackgroundColor</key>
					<dict>
						<key>opacity</key>
						<real>0.8</real>
						<key>colorHexCode</key>
						<string>252525</string>
					</dict>
					<key>fontName</key>
					<string>Poppins-Regular</string>
					<key>fontSize</key>
					<integer>17</integer>
					<key>fontColorHexCode</key>
					<string>FFFFFF</string>
				</dict>
				<key>showPreviewScreen</key>
				<true/>
				<key>manualOverlayBoxBorder</key>
				<string>FFFFFF</string>
				<key>feedbackBorderPercentage</key>
				<integer>10</integer>
				<key>maualCapturingCameraButton</key>
				<dict>
					<key>captureCameraImage</key>
					<string>contours_camera_capture_btn</string>
				</dict>
				<key>imageHoldTime</key>
				<integer>6</integer>
				<key>blurThreshould</key>
				<integer>250</integer>
				<key>successInlineMessage</key>
				<dict>
					<key>backgroundColorSuccessIcon</key>
					<string>098743</string>
					<key>cornerRadius</key>
					<integer>30</integer>
					<key>enableHapticEffect</key>
					<true/>
					<key>inlineMessageFontSize</key>
					<integer>17</integer>
					<key>inlineMessageFontName</key>
					<string>Poppins-Regular</string>
					<key>inlineMessageFontColorHexCode</key>
					<string>FFFFFF</string>
					<key>inlineMessageViewBackgroundColorHexCode</key>
					<string>2a2a2a</string>
					<key>showInlineMessage</key>
					<true/>
				</dict>
				<key>inlineMessage</key>
				<dict>
					<key>cornerRadius</key>
					<integer>30</integer>
					<key>arrowRightColorHexCode</key>
					<string>2a2a2a</string>
					<key>arrowLeftColorHexCode</key>
					<string>2a2a2a</string>
					<key>arrowDownColorHexCode</key>
					<string>2a2a2a</string>
					<key>arrowUpColorHexCode</key>
					<string>2a2a2a</string>
					<key>inlineMessageViewBorderThickness</key>
					<integer>2</integer>
					<key>enableHapticEffect</key>
					<true/>
					<key>inlineMessageFontSize</key>
					<integer>17</integer>
					<key>inlineMessageFontName</key>
					<string>Poppins-Regular</string>
					<key>inlineMessageFontColorHexCode</key>
					<string>2A2A2A</string>
					<key>inlineMessageViewBackgroundColorHexCode</key>
					<string>FFE1DE</string>
					<key>inlineMessageViewBorderColorHexCode</key>
					<string>FF7006</string>
					<key>showInlineMessage</key>
					<true/>
				</dict>
				<key>title</key>
				<dict>
					<key>cornerRadius</key>
					<integer>30</integer>
					<key>showTitle</key>
					<true/>
					<key>backgroundColor</key>
					<dict>
						<key>opacity</key>
						<real>0.8</real>
						<key>colorHexCode</key>
						<string>252525</string>
					</dict>
					<key>fontName</key>
					<string>Poppins-Regular</string>
					<key>fontSize</key>
					<integer>17</integer>
					<key>fontColorHexCode</key>
					<string>FFFFFF</string>
				</dict>
				<key>closeButton</key>
				<dict>
					<key>isPositionTopLeft</key>
					<true/>
					<key>enableCloseButton</key>
					<true/>
				</dict>
				<key>retakeButton</key>
				<dict>
					<key>cornerRadius</key>
					<integer>30</integer>
					<key>buttonBackgroundColor</key>
					<string>FFFFFF</string>
					<key>enableConfirmationButton</key>
					<true/>
					<key>fontName</key>
					<string>Poppins-Bold</string>
					<key>fontSize</key>
					<integer>15</integer>
					<key>fontColorHexCode</key>
					<string>346DE9</string>
				</dict>
				<key>confirmationButton</key>
				<dict>
					<key>cornerRadius</key>
					<integer>30</integer>
					<key>buttonBackgroundColor</key>
					<string>346DE9</string>
					<key>enableConfirmationButton</key>
					<true/>
					<key>fontName</key>
					<string>Poppins-Bold</string>
					<key>fontSize</key>
					<integer>15</integer>
					<key>fontColorHexCode</key>
					<string>FFFFFF</string>
				</dict>
			</dict>
		</dict>
		<key>Check</key>
		<dict>
			<key>checkConfidence</key>
			<dict>
				<key>dynamicConfidence</key>
				<dict>
					<key>isDynamic</key>
					<true/>
					<key>dynamicInterval</key>
					<integer>3</integer>
					<key>dynamicStepSize</key>
					<real>0.1</real>
				</dict>
				<key>filterConfidence</key>
				<dict>
					<key>advanceConfidence</key>
					<dict>
						<key>confThreshold</key>
						<real>0.2</real>
						<key>nmsThreshold</key>
						<real>0.3</real>
					</dict>
					<key>frontAuto</key>
					<real>0.9</real>
					<key>frontManual</key>
					<real>0.7</real>
					<key>rearAuto</key>
					<real>0.9</real>
					<key>rearManual</key>
					<real>0.7</real>
				</dict>
			</dict>
			<key>progressScreen</key>
			<dict>
				<key>failureImage</key>
				<string>contours_oops_icon</string>
				<key>progressBarColor</key>
				<string>346DE9</string>
				<key>progressScreenBackgroundColor</key>
				<string>252525</string>
				<key>tryAgainButton</key>
				<dict>
					<key>cornerRadius</key>
					<integer>30</integer>
					<key>buttonBackgroundColor</key>
					<string>346DE9</string>
					<key>fontName</key>
					<string>Poppins-Bold</string>
					<key>fontSize</key>
					<integer>15</integer>
					<key>fontColorHexCode</key>
					<string>FFFFFF</string>
					<key>buttonSize</key>
					<dict>
						<key>height</key>
						<integer>46</integer>
						<key>width</key>
						<integer>180</integer>
					</dict>
				</dict>
				<key>progressHeading</key>
				<dict>
					<key>fontSize</key>
					<integer>36</integer>
					<key>fontName</key>
					<string>Poppins-Bold</string>
					<key>fontColorHexCode</key>
					<string>FFFFFF</string>
				</dict>
				<key>progressDescription</key>
				<dict>
					<key>fontName</key>
					<string>Poppins-Regular</string>
					<key>fontSize</key>
					<integer>17</integer>
					<key>fontColorHexCode</key>
					<string>FFFFFF</string>
				</dict>
			</dict>
			<key>popupScreen</key>
			<dict>
				<key>closeButton</key>
				<dict>
					<key>isPositionTopLeft</key>
					<true/>
					<key>enableCloseButton</key>
					<true/>
				</dict>
				<key>popupBackgroundColorHexCode</key>
				<string>252525</string>
				<key>backgroundColorHexCode</key>
				<string>FFFFFF</string>
				<key>buttonCTA</key>
				<dict>
					<key>cornerRadius</key>
					<integer>30</integer>
					<key>fontName</key>
					<string>Poppins-Bold</string>
					<key>buttonBackgroundColor</key>
					<string>346DE9	</string>
					<key>fontColorHexCode</key>
					<string>FFFFFF</string>
					<key>fontSize</key>
					<integer>15</integer>
				</dict>
				<key>description</key>
				<dict>
					<key>fontName</key>
					<string>Poppins-Regular</string>
					<key>fontSize</key>
					<integer>15</integer>
					<key>fontColorHexCode</key>
					<string>767676</string>
				</dict>
				<key>title</key>
				<dict>
					<key>fontName</key>
					<string>Poppins-Bold</string>
					<key>fontColorHexCode</key>
					<string>2a2a2a</string>
					<key>fontSize</key>
					<integer>17</integer>
				</dict>
				<key>popupWidth</key>
				<integer>300</integer>
			</dict>
			<key>cornerSelectionScreen</key>
			<dict>
				<key>closeButton</key>
				<dict>
					<key>isPositionTopLeft</key>
					<true/>
					<key>enableCloseButton</key>
					<true/>
				</dict>
				<key>title</key>
				<dict>
					<key>showTitle</key>
					<true/>
					<key>titleViewBackgroundColor</key>
					<dict>
						<key>opacity</key>
						<real>0.8</real>
						<key>colorHexCode</key>
						<string>2a2a2a</string>
					</dict>
					<key>fontName</key>
					<string>Poppins-Regular</string>
					<key>fontSize</key>
					<integer>17</integer>
					<key>fontColorHexCode</key>
					<string>FFFFFF</string>
				</dict>
				<key>cornerSelectionIntroIcon</key>
				<dict>
					<key>showIntroButton</key>
					<true/>
					<key>imageName</key>
					<string>contours_icon_help</string>
				</dict>
				<key>squareLayer</key>
				<dict>
					<key>cornerSquareBorderThickness</key>
					<integer>3</integer>
					<key>cornerSquareBackgroundColor</key>
					<string>FF7006</string>
				</dict>
				<key>cornerDots</key>
				<dict>
					<key>cornerDotsBorderColor</key>
					<string>000000</string>
					<key>cornerDotsBackgroundColor</key>
					<string>FFFFFF</string>
					<key>cornerDotsBorderThickness</key>
					<integer>3</integer>
				</dict>
				<key>confirmationButton</key>
				<dict>
					<key>cornerRadius</key>
					<integer>30</integer>
					<key>buttonBackgroundColor</key>
					<string>346DE9</string>
					<key>enableConfirmationButton</key>
					<true/>
					<key>fontName</key>
					<string>Poppins-Bold</string>
					<key>fontSize</key>
					<integer>15</integer>
					<key>fontColorHexCode</key>
					<string>FFFFFF</string>
				</dict>
				<key>retakeButton</key>
				<dict>
					<key>cornerRadius</key>
					<integer>30</integer>
					<key>buttonBackgroundColor</key>
					<string>FFFFFF</string>
					<key>enableConfirmationButton</key>
					<true/>
					<key>fontName</key>
					<string>Poppins-Bold</string>
					<key>fontSize</key>
					<integer>15</integer>
					<key>fontColorHexCode</key>
					<string>346DE9</string>
				</dict>
			</dict>
			<key>imageCapturingScreen</key>
			<dict>
				<key>previewGradient</key>
				<dict>
					<key>gradientColor</key>
					<string>252525</string>
					<key>isGradientEnable</key>
					<false/>
				</dict>
				<key>backgroundColor</key>
				<dict>
					<key>opacity</key>
					<integer>1</integer>
					<key>colorHexCode</key>
					<string>252525</string>
				</dict>
				<key>autoManualOverlay</key>
				<dict>
					<key>overlayBackgroundColor</key>
					<dict>
						<key>opacity</key>
						<real>0.8</real>
						<key>colorHexCode</key>
						<string>2a2a2a</string>
					</dict>
					<key>enableOverlay</key>
					<true/>
					<key>toggleOnThumbColorHexCode</key>
					<string>346DE9</string>
					<key>toggleOnTrackColorHexCode</key>
					<string>ffffff</string>
					<key>toggleOffTrackColorHexCode</key>
					<string>e5e5e5</string>
					<key>toggleOffThumbColorHexCode</key>
					<string>ffffff</string>
					<key>textFontColorHexCode</key>
					<string>ffffff</string>
					<key>textFontSize</key>
					<integer>12</integer>
					<key>textFontName</key>
					<string>Poppins-Bold</string>
				</dict>
				<key>manualCapturingPopupTimeInterval</key>
				<integer>20</integer>
				<key>previewTitle</key>
				<dict>
					<key>showTitle</key>
					<true/>
					<key>titleViewBackgroundColor</key>
					<dict>
						<key>opacity</key>
						<real>0.8</real>
						<key>colorHexCode</key>
						<string>252525</string>
					</dict>
					<key>fontName</key>
					<string>Poppins-Regular</string>
					<key>fontSize</key>
					<integer>17</integer>
					<key>fontColorHexCode</key>
					<string>FFFFFF</string>
				</dict>
				<key>adjustFrameButton</key>
				<dict>
					<key>cornerRadius</key>
					<integer>30</integer>
					<key>fontColorHexCode</key>
					<string>346DE9</string>
					<key>fontSize</key>
					<integer>15</integer>
					<key>fontName</key>
					<string>Poppins-Bold</string>
					<key>buttonBackgroundColor</key>
					<string>FFFFFF</string>
					<key>showAdjustButton</key>
					<true/>
				</dict>
				<key>showPreviewScreen</key>
				<true/>
				<key>manualOverlayBoxBorder</key>
				<string>FFFFFF</string>
				<key>feedbackBorderPercentage</key>
				<integer>10</integer>
				<key>endorseOverlay</key>
				<dict>
					<key>showOverlay</key>
					<true/>
					<key>overlayColor</key>
					<string>FFFFFF</string>
				</dict>
				<key>micrOverLay</key>
				<dict>
					<key>overlayColor</key>
					<string>FFFFFF</string>
					<key>showOverlay</key>
					<true/>
				</dict>
				<key>maualCapturingCameraButton</key>
				<dict>
					<key>captureCameraImage</key>
					<string>contours_camera_capture_btn</string>
				</dict>
				<key>imageHoldTime</key>
				<integer>6</integer>
				<key>blurThreshould</key>
				<integer>250</integer>
				<key>successInlineMessage</key>
				<dict>
					<key>backgroundColorSuccessIcon</key>
					<string>098743</string>
					<key>cornerRadius</key>
					<integer>30</integer>
					<key>enableHapticEffect</key>
					<true/>
					<key>inlineMessageFontSize</key>
					<integer>17</integer>
					<key>inlineMessageFontName</key>
					<string>Poppins-Regular</string>
					<key>inlineMessageFontColorHexCode</key>
					<string>FFFFFF</string>
					<key>inlineMessageViewBackgroundColorHexCode</key>
					<string>2a2a2a</string>
					<key>showInlineMessage</key>
					<true/>
				</dict>
				<key>inlineMessage</key>
				<dict>
					<key>cornerRadius</key>
					<integer>30</integer>
					<key>arrowUpColorHexCode</key>
					<string>2a2a2a</string>
					<key>arrowDownColorHexCode</key>
					<string>2a2a2a</string>
					<key>arrowLeftColorHexCode</key>
					<string>2a2a2a</string>
					<key>arrowRightColorHexCode</key>
					<string>2a2a2a</string>
					<key>inlineMessageViewBorderThickness</key>
					<integer>2</integer>
					<key>enableHapticEffect</key>
					<true/>
					<key>inlineMessageFontSize</key>
					<integer>17</integer>
					<key>inlineMessageFontName</key>
					<string>Poppins-Regular</string>
					<key>inlineMessageFontColorHexCode</key>
					<string>2A2A2A</string>
					<key>inlineMessageViewBackgroundColorHexCode</key>
					<string>FFE1DE</string>
					<key>inlineMessageViewBorderColorHexCode</key>
					<string>FF7006</string>
					<key>showInlineMessage</key>
					<true/>
				</dict>
				<key>title</key>
				<dict>
					<key>cornerRadius</key>
					<integer>30</integer>
					<key>showTitle</key>
					<true/>
					<key>backgroundColor</key>
					<dict>
						<key>opacity</key>
						<real>0.8</real>
						<key>colorHexCode</key>
						<string>252525</string>
					</dict>
					<key>fontName</key>
					<string>Poppins-Regular</string>
					<key>fontSize</key>
					<integer>17</integer>
					<key>fontColorHexCode</key>
					<string>FFFFFF</string>
				</dict>
				<key>introIcon</key>
				<dict>
					<key>showIntroButton</key>
					<true/>
					<key>imageName</key>
					<string>contours_icon_info</string>
				</dict>
				<key>flashIcon</key>
				<dict>
					<key>isFlashDefaultOn</key>
					<true/>
					<key>showFlashButton</key>
					<true/>
					<key>flashOnImage</key>
					<string>contours_icon_flash_on</string>
					<key>flashOffImage</key>
					<string>contours_icon_flash_off</string>
				</dict>
				<key>closeButton</key>
				<dict>
					<key>isPositionTopLeft</key>
					<true/>
					<key>enableCloseButton</key>
					<true/>
				</dict>
			</dict>
			<key>cornerIntroScreen</key>
			<dict>
				<key>showIntroScreen</key>
				<true/>
				<key>bulletPoints</key>
				<dict>
					<key>point2</key>
					<dict>
						<key>pointFrameSize</key>
						<dict>
							<key>height</key>
							<integer>20</integer>
							<key>width</key>
							<integer>20</integer>
						</dict>
						<key>showBulletPoint</key>
						<true/>
						<key>fontColorHexCode</key>
						<string>2a2a2a</string>
						<key>fontSize</key>
						<integer>17</integer>
						<key>fontName</key>
						<string>Poppins-Regular</string>
						<key>backgroundColor</key>
						<string>FFFFFF</string>
						<key>text</key>
						<string>2</string>
					</dict>
					<key>point1</key>
					<dict>
						<key>pointFrameSize</key>
						<dict>
							<key>height</key>
							<integer>20</integer>
							<key>width</key>
							<integer>20</integer>
						</dict>
						<key>showBulletPoint</key>
						<true/>
						<key>fontColorHexCode</key>
						<string>2a2a2a</string>
						<key>fontSize</key>
						<integer>17</integer>
						<key>fontName</key>
						<string>Poppins-Regular</string>
						<key>backgroundColor</key>
						<string>FFFFFF</string>
						<key>text</key>
						<string>1</string>
					</dict>
				</dict>
				<key>textBlobBody</key>
				<dict>
					<key>enableBlobBody</key>
					<true/>
					<key>fontName</key>
					<string>Poppins-Regular</string>
					<key>fontSize</key>
					<integer>17</integer>
					<key>fontColorHexCode</key>
					<string>FFFFFF</string>
				</dict>
				<key>checkBox</key>
				<dict>
					<key>enableCheckBox</key>
					<true/>
					<key>fontColorHexCode</key>
					<string>FFFFFF</string>
					<key>fontSize</key>
					<integer>17</integer>
					<key>fontName</key>
					<string></string>
				</dict>
				<key>backgroundColor</key>
				<dict>
					<key>opacity</key>
					<integer>1</integer>
					<key>colorHexCode</key>
					<string>252525</string>
				</dict>
				<key>confirmationButton</key>
				<dict>
					<key>cornerRadius</key>
					<integer>30</integer>
					<key>buttonBackgroundColor</key>
					<string>346DE9</string>
					<key>enableConfirmationButton</key>
					<true/>
					<key>fontName</key>
					<string>Poppins-Bold</string>
					<key>fontSize</key>
					<integer>15</integer>
					<key>fontColorHexCode</key>
					<string>FFFFFF</string>
					<key>buttonSize</key>
					<dict>
						<key>height</key>
						<integer>46</integer>
						<key>width</key>
						<integer>180</integer>
					</dict>
				</dict>
				<key>closeButton</key>
				<dict>
					<key>enableCloseButton</key>
					<true/>
					<key>isPositionTopLeft</key>
					<true/>
				</dict>
			</dict>
			<key>endorsementIntroScreen</key>
			<dict>
				<key>showIntroScreen</key>
				<true/>
				<key>textBlobHeader</key>
				<dict>
					<key>enableBlobHeader</key>
					<true/>
					<key>fontSize</key>
					<integer>21</integer>
					<key>fontName</key>
					<string>Poppins-Bold</string>
					<key>fontColorHexCode</key>
					<string>FFFFFF</string>
				</dict>
				<key>textBlobBody</key>
				<dict>
					<key>enableBlobBody</key>
					<true/>
					<key>fontName</key>
					<string>Poppins-Regular</string>
					<key>fontSize</key>
					<integer>17</integer>
					<key>fontColorHexCode</key>
					<string>FFFFFF</string>
				</dict>
				<key>backgroundColor</key>
				<dict>
					<key>opacity</key>
					<integer>1</integer>
					<key>colorHexCode</key>
					<string>252525</string>
				</dict>
				<key>confirmationButton</key>
				<dict>
					<key>cornerRadius</key>
					<integer>30</integer>
					<key>buttonBackgroundColor</key>
					<string>346DE9</string>
					<key>enableConfirmationButton</key>
					<true/>
					<key>fontName</key>
					<string>Poppins-Bold</string>
					<key>fontSize</key>
					<integer>15</integer>
					<key>fontColorHexCode</key>
					<string>FFFFFF</string>
					<key>buttonSize</key>
					<dict>
						<key>height</key>
						<integer>46</integer>
						<key>width</key>
						<integer>180</integer>
					</dict>
				</dict>
				<key>closeButton</key>
				<dict>
					<key>enableCloseButton</key>
					<true/>
					<key>isPositionTopLeft</key>
					<true/>
				</dict>
			</dict>
			<key>tipsIntroScreen</key>
			<dict>
				<key>showIntroScreen</key>
				<true/>
				<key>closeButton</key>
				<dict>
					<key>enableCloseButton</key>
					<true/>
					<key>isPositionTopLeft</key>
					<true/>
				</dict>
				<key>confirmationButton</key>
				<dict>
					<key>cornerRadius</key>
					<integer>30</integer>
					<key>buttonBackgroundColor</key>
					<string>346DE9</string>
					<key>enableConfirmationButton</key>
					<true/>
					<key>fontName</key>
					<string>Poppins-Bold</string>
					<key>fontSize</key>
					<integer>15</integer>
					<key>fontColorHexCode</key>
					<string>FFFFFF</string>
					<key>buttonSize</key>
					<dict>
						<key>height</key>
						<integer>46</integer>
						<key>width</key>
						<integer>180</integer>
					</dict>
				</dict>
				<key>backgroundColor</key>
				<dict>
					<key>opacity</key>
					<integer>1</integer>
					<key>colorHexCode</key>
					<string>252525</string>
				</dict>
				<key>checkBox</key>
				<dict>
					<key>enableCheckBox</key>
					<true/>
					<key>fontColorHexCode</key>
					<string>FFFFFF</string>
					<key>fontSize</key>
					<integer>17</integer>
					<key>fontName</key>
					<string>Poppins-Regular</string>
				</dict>
				<key>textBlobBody</key>
				<dict>
					<key>enableBlobBody</key>
					<true/>
					<key>fontName</key>
					<string>Poppins-Regular</string>
					<key>fontSize</key>
					<integer>17</integer>
					<key>fontColorHexCode</key>
					<string>FFFFFF</string>
				</dict>
				<key>textBlobHeader</key>
				<dict>
					<key>enableBlobHeader</key>
					<true/>
					<key>fontSize</key>
					<integer>21</integer>
					<key>fontName</key>
					<string>Poppins-Bold</string>
					<key>fontColorHexCode</key>
					<string>FFFFFF</string>
				</dict>
			</dict>
		</dict>
		<key>commonConfig</key>
		<dict>
			<key>closeButton</key>
			<dict>
				<key>closeButtonImageWhite</key>
				<string>contours_close_icon_white</string>
				<key>closeButtonImageGray</key>
				<string>contours_close_icon</string>
			</dict>
			<key>checkBox</key>
			<dict>
				<key>selectedImage</key>
				<string>contours_checkbox_selected</string>
				<key>unSelectedImage</key>
				<string>contours_checkbox_unselected</string>
			</dict>
		</dict>
		<key>globalSDKConfig</key>
		<dict>
			<key>cornerRadius</key>
			<integer>30</integer>
			<key>contoursFIName</key>
			<string>custom_FI_name</string>
			<key>fontColor</key>
			<string>FFFFFF</string>
			<key>fontName</key>
			<string>Poppins</string>
			<key>secondaryColor</key>
			<string>FFFFFF</string>
			<key>primaryColor</key>
			<string>346DE9</string>
			<key>backgroundColor</key>
			<string>252525</string>
		</dict>
	</dict>
</dict>
</plist>
